body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	padding:0;
	margin:0;
	font: 300 14px 'Titillium Web', sans-serif;
}

html,
body {
	background: url("../images/city.jpg") no-repeat center top;
	background-attachment: fixed;
	background-size: cover;
}

.clear-fix {
	overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
	padding: 4%;
	margin: 4% 2%;
	border-top: 4px solid orange;
	border-radius: 2px;
	max-width: 100vw;
	background: white;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
}

.project-description {
	margin: 0 0 5% 0;
}

.image-box {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	width: 100%;
}

.project-image {
	position: relative;
	max-width: 100%;
	flex-basis: width auto;
	object-fit: fill;
	margin: 5px;
}

h1 {
	font-size: 2.5em;
	color: #f5a623;
	line-height: 48px;
	text-align: center;
	
}

h2 {
	font-weight: bold;
	font-size: 24px;
	color: #999;
	line-height: 29px;
	padding: 10px;
}

h3 {
	font-style: italic;
	font-size: 20px;
	color: #999;
	line-height: 22px;
}

h4 {
	font-weight: bold;
	font-size: 14px;
	color: #4a4a4a;
	line-height: 17px;
}

h2,
h3,
h4,
h5 {
	padding:10px 5%;
}

.date-text {
	font-style: italic;
	font-size: 14px;
	color: #999;
	line-height: 16px;
	float: left;
}

.location-text {
	font-style: italic;
	font-size: 14px;
	color: #999;
	line-height: 16px;
	float: right;
}

p {
	font-size: 14px;
	color: #333;
	line-height: 21px;
}

a {
	color: #1199c3;
	text-decoration: none;
	display: block;
	}

.welcome-message {
	font-style: italic;
	font-size: 18px;
	color: #f3f3f3;
	line-height: 28px;
	margin: 2% 0;
	display: block; 
}

#skills-h3 {
	color: #f5ae23;
	display: none;
}

.orange {
	background-color: #f5ae23;
}

.orange-text {
	color: #f5ae23;
}

.white-text {
	font-weight: bold;
	color: #fff;
}

.gray {
	padding-bottom: 10px;
	clear:both;
}

.dark-gray {
	background-color: #4a4a4a;
}

#header {
	background: rgba(0, 0, 0, .2);
}

.flex-box {
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 10px;
}

.center-content {
	padding: 2.5% 5%;
}

ul {
	list-style-type: none;
}

.biopic {
	float: left;
	padding: 10px;
	width: 200px;
	display: none;
}

.header-role {
	text-align: center;
	color: white;
	font: 300 1.5em 'Titillium Web', sans-serif;
	display: block;
}

#lets-connect {
	text-align: center;
	background: rgba(0, 0, 0, .2);
	margin: 10% 0 0 0;
}

.welcome-message {
	display: none;
}
/* Media queries to handle various device widths */

@media only screen and (min-width: 1024px) {
	.education-entry,
	.work-entry,
	.project-entry {
		padding: 1%;
	}
}

@media only screen and (min-width: 750px) {
	#lets-connect {
		margin-top: 1%;
	}
	.biopic {
		width: 175px;
	}
	.welcome-message {
		display: inline;
	}
	h1 {
		text-align: left;
		display: inline;
	}
	.header-role {
		display: inline;
		text-align: left;
		margin: 0 0 0 10px;
	}
}

@media only screen and (min-width: 600px) {
	.education-entry,
	.work-entry,
	.project-entry {
		padding: 2%;
		margin: 2% 1%;
	}
}

#map {
	display: block;
	height: 100%;
	margin: 0 5%;
}

#map-div {
	height: 400px;
	width: 100%;
	padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
	#skills-h3,
	.biopic {
		display: block;
	}
}
